@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* POPUP */

.body {
    position: relative;
}


@media (max-width: 640px) {
    .popup-container {
        width: 92%;
        margin-top: 25px;
    }
    .popup-text {
        padding: 30px 23px 30px 23px;
    }
}

@media (min-width: 641px) {
    .popup-text {
        padding: 55px 35px 53px 35px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .popup-container {
        width: 50.8%;
        margin-top: 199px;
    }
}

@media (max-width: 1199px){
    .popup-close {
        width: 29px;
        height: 29px;
    }
}

@media (min-width: 1200px) {
    .popup-close {
        width: 22px;
        height: 22px;
    }
    .popup-container {
        width: 390px;
        margin-top: 212px;

    }
}

.popup {
	
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    /* display: none; */
}

.popup::after {
    content: " ";
    position: absolute;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6; 
    z-index: 2;
}

.popup-container {
    background-color: #ffffff;

    position: relative;
    z-index: 34;

    /* width: 390px; */
    /* margin-top: 212px;     */
    margin-left: auto;
    margin-right: auto;
    padding: 55px 30px 50px;

}

.popup-close {  /*почему-то не показывается крестик*/
    position: absolute;
    top: 0;
    right: 0;

    margin-right: 0;
    margin-left: auto;
    margin-bottom: 10px;
    /* width: 22px;
    height: 22px; */
}

.popup-title  { 
    font-family: OpenSans, Arial, sans-serif;
    font-size: 18px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
}

.popup-title::after {
    content: "";
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 45px;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}

.popup-form {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 13px;
    color: #0f0d0e;
    margin-top: 5px;
}

.popup-select {
    margin-top: 12px;
    margin-bottom: 35px;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    -webkit-appearance: none;
	-moz-appearance: none;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #000000;

    background-image: url("../svg/form-arrows.svg");
    background-size: 10px;
	background-repeat: no-repeat;
	background-position: right 5px center;
}

.popup-radio-group {
    margin-top: 10px;
    margin-bottom: 34px;
}

.popup-radio {
    display: none;
}

.popup-radio-text::before {
	content: "";
	display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
	
	width: 25px;
	height: 25px;

	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center  center;
	background-size: 25px;
}

.popup-radio:checked ~ .popup-radio-text::before {
	background-image: url("../svg/form-circle.svg");
}

.popup-radio-text {
    margin-right: 35px;
}     

.popup-feedback-input {
    padding: 18px;
    width: 100%;
    height: 132px;
    background-color: #f4f7f6;
    margin-top: 12px;
    border: none;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 13px;
    color: #000000;
}

.popup-button {
    height: 48px;
    width: 100%;
    border: none;
    background-color: #b59f5b;
    font-family: OpenSans, Arial, sans-serif;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 14px;
    margin-top: 27px;
}

.popup-button:hover {
    background-color: #000000;
    cursor: pointer;
}

.popup-feedback-input:focus,
.popup-select:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -2px;
}






/* HEADER */



.header {
    width: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;

    position: relative;
    z-index: 0;
}


@media (min-width: 1200px) {
    .header {
        padding-top: 26px;
        padding-bottom: 130px;

        background-image: url("../images/banner-bg.jpg");  
    }

    .page-header {
        display: flex;  
    
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 180px;
    }

    .logo-image {
        width: 100%;
    }

    .menu-button {
        display: none;
    }

    .menu-list {  
        display: flex;
    }
    
    .menu-list-item:nth-child(n+2) {
        margin-left: 35px;
    }
    
    .menu-link {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: normal;
        font-size: 13px;
        font-style: normal;
        color: #ffffff;
        text-transform: uppercase;
    }
    
    .menu-link:hover {
        text-decoration: underline;
    }

    h1 {
        width: 690px;
        margin-top: 100px;
        
        line-height: 1.7;
    
        font-size: 45px;
    }
}

@media (max-width: 1199px) {
    .menu-list {
        display: none;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        padding: 35px 35px 125px 35px;

        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .logo-image {
        width: 155px;
    }

    h1 {
        width: 605px;
        margin-top: 103px;
        line-height: 1.4;   
    
        font-size: 40px;
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url("../images/banner-mobile.jpg");
        display: flex;
        flex-direction: column;
        padding-top: 225px;
        padding-bottom: 217px;
    }
    .logo {
        display: block;
        width: 75%;
        margin: auto;
    } 
    
    .page-title {
        margin-top: 44px;    
        width: 75%;
        font-size: 26px;
    
        line-height: 1.4;
    }
    
    .menu-button {
        position: absolute;
        top: 35px;
        right: 15px;
    }   
}

.header::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    background-color: #000000;
    opacity: 0.6;
}

h1 {
    margin-right: auto;
    margin-left: auto; 
    position: relative;

    text-align: center;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    
    z-index: 99;
}

.menu {
    display: flex;
    justify-content: end;
}

.menu-button { /*не встает на место ((((((( в моб и планшет версиях тоже*/
    width: 24px;
    margin-top: -15px;
    cursor: pointer;
    border: 0;
    outline: none;

    background-color: transparent;
}

.menu-button-stripe {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

.menu-button-stripe:not(:last-child) {
    margin-bottom: 4px;
}

.logo {
    z-index: 1;
}



.menu {
    position: relative;
    z-index: 1;
}





/* TRENDS */


@media (max-width: 640px) and (orientation: portrait) {
    .trend-content {
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left: 15px;

        padding: 30px 20px;

        width: 100%;
    }
    .trend-now {
        width: 100%;
        min-height: 250px;
    }
    .trend.now:not(:last-child){
        margin-bottom: 3px; /* почему-то не применился пробел...*/
    }
    .trend-title {
        font-size: 16px;
    }


}

@media (max-width: 640px) and (orientation: landscape) {
    .trend-now {
        width: 49.5%;
        margin-bottom: 2px;
        min-height: 250px;
    }
    .trend-now:nth-child(odd){
        margin-right: 0.4%;
    }
    .trend-title {
        font-size: 14px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .trend-title {
        font-size: 17px;
    }

    .trend-content {
        margin-right: 20px;
        margin-bottom: 13px;
        margin-left: 20px;

        padding: 35px 30px 30px 30px;

        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trend-now {
        width: 49.5%;
        margin-bottom: 2px;
        min-height: 250px;
    }
    .trend-now:nth-child(odd){
        margin-right: 0.4%;
    }
    .trend-content {
        margin-right: 20px;
        margin-bottom: 13px;
        margin-left: 20px;

        padding: 35px 30px 30px 30px;

        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trend-now {
        width: 24.8%;
        min-height: 248px;
    }
    .trend-title {
        font-size: 14px;
    }
    .trend-content {
        margin-right: 20px;
        margin-bottom: 13px;
        margin-left: 20px;

        padding: 35px 30px 30px 30px;

        width: 100%;
    }
}

@media (min-width: 1200px) {
    .trend-content {
        padding: 36px;
        margin-right: 20px;
        margin-bottom: 15px;
        margin-left: 20px;
        padding: 35px;
    }
    .trend-now {
        width: 24.5%;
        min-height: 320px;

        margin-right: 4px; 
    }
    .trend-title {
        font-size: 20px;
    }
}

.trends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
    align-items: flex-end;
}

.trends-title {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;

    text-align: center;
    margin-top: 55px;
}

.trends-title:after {
    content: "";
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}

.trend-content { /*не получается выровнять тренды в версии для планшета((*/
    position: relative;
    border: 3px solid #75683a; /*Раомчку не получается поднять над маской тренда*/

    /* z-index: 5; */
}

.trend-now::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
}

.trend-now {
    /* width: 24.5%;
    min-height: 320px; */

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.trend-now:nth-child(1) {
    background-image: url("../images/trend1.jpg");
}

.trend-now:nth-child(2) {
    background-image: url("../images/trend2.jpg");
}

.trend-now:nth-child(3) {
    background-image: url("../images/trend3.jpg");
}

.trend-now:nth-child(4) {
    background-image: url("../images/trend4.jpg");
}

.trend-now:first-child {
    margin-left: 0;
}

.trend-now:last-child {
    margin-right: 0;
}

.trend-tags-list {
    display: flex;
    position: relative;
    z-index: 3;
}

.trend-tag {
    margin-right: 20px;
}

.trend-tag:last-child {
    margin-right: 0;
}

.trend-tag-link {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
}

.trend-tag-link:hover {
    text-decoration: underline;
}

.trend-title-link {
    color: #ffffff;
}

.trend-title-link:hover {
    color: #b59f5b;    
}

.trend-title {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}




/* MAIN */




@media (max-width: 640px) {
    .content {
        flex-direction: column;
        }
    .main {
        width: 100%;
    }
    .side-bar {
        width: 100%; 
        margin-top: 47px;
    }


}
@media (min-width: 641px) and (max-width: 1199px) {
    .main {
        width: 56.16%;
    }
    .side-bar {
        width: 39.11%; 
        margin-left: 4.73%;
    }
}

@media (max-width: 1199px) {
    .posts {
        flex-direction: column;
    }
    .post-image {
        width: 100%;
        }    
    .post-tags {
        width: 100%;
        padding-bottom: 24px;
        border-bottom: 2px solid #eeeeee;
        
        margin-top: 17px;
    }

    .posts:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .posts {
        display: flex;
    }

    .main {
        width: 65.56%;
    }
    .side-bar {
        width: 23.25%; 
        margin-left: 11.19%;
    }

    .posts:not(:last-child) {
        margin-bottom: 61px;
    } 

    .posts:nth-child(n+2) {
        margin-top: 57px;  
    } 

    .post-content {
        margin-left: 30px;
    }

    .post-image {
        width: 49.67%; /*381px;*/
    }    

    .post-img {
        max-width: 380px;
    }

    .post-tags {
        width: 53.57%;
        margin-left: 3.9%; /*30px;*/
    }

}

.content {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    padding: 57px 15px 63px 15px;

    margin-right: auto;
    margin-left: auto;
}

/* .main {
    width: 775px;
} */

.posts {
    display: flex;
}

.post-img {
    
    height: 100%;
    object-fit: cover;
    max-height: 295px;
}

.posts-tags-list {  
    display: flex;
}

.post-tag {
    margin-right: 20px;
}

.post-tag:last-child {
    margin-right: 0;
}

.post-tag-link {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #b59f5b;
    text-transform: uppercase;
}

.post-tag-link:hover {
    text-decoration: underline;
}

.post-title {
    margin-top: 10px;
    line-height: 1.2;
}

.post-title-link {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.post-title-link:hover {
    color: #b59f5b;
}

.post-data {
    display: flex;  
    margin-top: 26px;
}

.date {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
    color: #888888;
}

.auther {
    margin-left: 15px;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    color: #000000;
}

.post-description {
    margin-top: 45px;
}

p {

    line-height: 1.5;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    font-style: normal;
    color: #0f0d0e;
}


/*ASIDE*/


.side-bar {
    width: 270px;
}

.aside-title {
    margin-bottom: 23px;
    text-align: center;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #0f0d0e;
    text-transform: uppercase;
}

.aside-title:after {
    content: "";
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}

.new-post {
    display: flex;
}

.new-post:nth-child(n+2) {
    margin-top: 20px;
}

.new-post-content {
    margin-left: 20px; 
}

.new-post-img {
    width: 70px;
}

.new-post-date {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
    color: #9a9a9a;

    margin-bottom: 10px;
}

.new-post-link {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #0f0d0e;
    text-transform: uppercase;
}

.new-post-link:hover {
    color: #b59f5b;
}

.search-form {
    display: flex;
    margin-top: 60px;
    margin-bottom: 58px;
    width: 100%;
    height: 48px;
}

.search-field {
    border: none;
    padding: 20px;
    height: 48px;
    width: 223px;

    background-color: #f4f7f6;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    color: #9b9c9c;    
}

.search-button {
    border: none;
    width: 48px;
    height: 48px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: #b59f5b;
    background-position: center;
}

.search-button:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
} 

.email-group {
    margin-bottom: 53px;
}

.email-form {
    display: block;
    margin-top: 20px;
}

.email-field {
    width: 100%;
    height: 48px;
    border: none;
    padding: 20px;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    color: #9b9c9c;
    background-color: #f4f7f6;
}

.email-button {
    width: 100%;
    height: 48px;
    margin-top: 20px;
    border: none;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #b59f5b;
}

.email-button:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.aside-content-tags {
    margin-bottom: 55px;
}

.aside-tags-list {
    display: flex;
    flex-wrap: wrap;
}

.aside-tag {
    padding: 3px 14px;
    border: 3px solid #eeeeee;
    margin-right: 5px;
}

.aside-tag:nth-child(n+4) {
    margin-top: 6px;
}

.aside-tag-link {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    color: #0f0d0e;
    text-transform: uppercase;
}

.aside-tag:hover {
    border-color: #b59f5b;
}

.aside-theme {  
    padding-bottom: 13px;
    border-bottom: 1px solid #eeeeee;
}

.aside-theme:nth-child(n+2) {
    margin-top: 14px;
}

.aside-theme-link {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #000000;
}

.aside-theme-link:hover {
    color: #b59f5b;
}

.theme-superscript {
    margin-left: 5px;
    vertical-align: top;

    color: #b59f5b;
}




/* SHOP */




@media (max-width: 640px) {
    .product {
        width: 100%;
    }

    .product:not(:last-child) {
        margin-bottom: 25px;
    }

    .product-title {
        font-size: 17px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .product {
        width: 48.3%;
    }

    .product:nth-child(-n + 2) {
        margin-bottom: 25px;
    } 
    .product:nth-child(odd) {
        margin-right: 1.7%;
    }

    .product:nth-child(even) {
        margin-left: 1.7%; 
    }

    .product-title {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {
    .product {
        width: 29.57%;
    }

    .product:not(:last-child) {
        margin-right: 2.82%;
    }
    
    .product:not(:first-child) {
        margin-left: 2.82%;
    }

    .product-title {
        font-size: 20px;
    }
}

.shop {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 65px;
    padding-right: 15px;
    padding-left: 15px;
}

.shop-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-img {
    width: 100%;
    min-height: 200px;    
    object-fit: contain;
    padding: 0 25px;
}

.shop-title {
    text-align: center;
    margin-bottom: 45px;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
}

.shop-title::after {
    content: "";
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}

.product-content {
    border: 3px solid #b59f5b;
    padding: 55px 25px 25px;

    margin-top: -30px;
    flex-grow: 1;
}

.product {
    /* width: 29%; */

    display: flex;
    flex-direction: column;
}

.product-title {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;

    margin-bottom: 13px;
}

.product-description {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    font-style: normal;
    color: #0f0d0e;
    line-height: 1.5;
}

.product-link {
    color: #b59f5b;
}


.product-link:hover {
    text-decoration: underline;
}

.product-footer {
    display: flex;
    justify-content: space-between;

    margin-top: 27px;
}

.product-price-old, .ruble-symbol-old {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #0f0d0e;
    /* text-decoration-line: line-through; */
}

.old-price {
    text-decoration: line-through;
    margin-bottom: -4px;
}

.product-price-new, .ruble-symbol-new {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    color: #0f0d0e;
}

.product-button {
    width: 140px;
    height: 48px;
    border: none;

    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #b59f5b;
}

.product-button:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}







/*FOOTER*/

.footer {
    padding-bottom: 40px;
}

.widget-socials {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;

    display: flex;

    background-color: #f4f7f6;
}

.widget-list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0 30px 0;
}

.widget-item:nth-child(n+2) {
    margin-left: 30px;
}

.widget-link {
    display: block;

    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
}


.twitter {
    background-image: url("../svg/004-twitter.svg");
}

.pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

.instagram {
    background-image: url("../svg/005-instagram.svg");
}

.tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright-content {
    text-align: center;
}

.copyright, .theme-superscript {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
}

.copyright {
    color: #999999;
}

/*body::after {
content: "";
display: block;
width: 1660px;
height: 3207px;
background-image: url("https://raw.githubusercontent.com/netology-code/html-2-diploma/master/sources/NOEMI_Modern_ru.jpg");
position: absolute;
top: 0;
left: calc(50% - 830px);
opacity: 0.6;
z-index: 999;
}*/